* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(242, 131, 0);

}

body {
    background-color: orangered;
    font-family: sans-serif;
    font-family: 100%;
}

.contenedor {
    width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.separador img{
  width: 100%;
}

header {
    background-color: rgb(33, 0, 115);
    display: block;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 4em;
    font-family: sans-serif;
}

header nav {
}

header nav ul {
    text-align: center;
    padding: 10px 0;
}

header nav ul li {
  display: inline;
  padding: 0 100px;
}

ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
}

main{
  background-color: rgb(51, 15, 87);
}

main h2,
.galery h2 {
    text-align: center;
    color: rgb(106, 233, 62);
    padding: 20px 0;
    font-size: 2em;
}

.profile-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-img+figcaption{
  text-align: center;
  padding: 10px 0;
}
.profile p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 30%;
  line-height: 20px;

}

.galery{
  background: rgb(90, 32, 156)
}

article h3 {
    text-align: center;
    color: rgb(106, 233, 62);
    padding: 15px 0;
    font-size: 1.3em;
}

.galery-images{
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.galery-images li{
  border: solid white 1px;
  float: left;
  margin-left: 11px;
  display: inline-block;
}



.galery a{
  display: block;
  text-align: center;
  padding: 20px 0;
}

footer {
  background: rgb(8, 21, 75);
}

aside ul{
  text-align: center;
  display: block;
  padding: 10px 0;
}

aside ul li{
  display: inline;
}

aside ul li h1{
  padding: 5px 15px;
  display: inline-block;
  border-radius: 100px;
  background: rgb(0, 255, 25);
  }

aside ul li h1:hover{

}
aside ul li ::before:hover{
  color: yellow;
  background: rgb(8, 21, 75);
}



aside ul li .fbk::before{
  content: "\f231";
  font-family: "Ionicons";
  font-size: 30px;
  color: rgb(8, 21, 75);
}


aside ul li .twt::before{
  content: "\f243";
  font-family: "Ionicons";
  font-size: 30px;
  color: rgb(8, 21, 75);
}


footer p{
  text-align: center;
  padding: 15px;
}

.boton{

}
